logic-app/Orchestrator.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Do_Action_A": {
                "inputs": {
                    "method": "POST",
                    "uri": "https://REPLACEME.azurewebsites.net/api/ActionA"
                },
                "runAfter": {
                    "Prepare": [
                        "Succeeded"
                    ]
                },
                "type": "Http"
            },
            "Repeat_until_Action_B_completes": {
                "actions": {
                    "Get_Action_B_status": {
                        "inputs": {
                            "method": "GET",
                            "uri": "https://REPLACEME.azurewebsites.net/api/GetActionBStatus?operationId=@{body('Parse_operation_ID_from_JSON_response')?['operationId']}"
                        },
                        "runAfter": {
                            "Pause": [
                                "Succeeded"
                            ]
                        },
                        "type": "Http"
                    },
                    "Parse_operation_status_from_JSON_response": {
                        "inputs": {
                            "content": "@body('Get_Action_B_status')",
                            "schema": {
                                "properties": {
                                    "status": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "runAfter": {
                            "Get_Action_B_status": [
                                "Succeeded"
                            ]
                        },
                        "type": "ParseJson"
                    },
                    "Pause": {
                        "inputs": {
                            "interval": {
                                "count": 30,
                                "unit": "Second"
                            }
                        },
                        "runAfter": {},
                        "type": "Wait"
                    }
                },
                "expression": "@equals(body('Parse_operation_status_from_JSON_response')?['status'], 'Complete')",
                "limit": {
                    "count": 60,
                    "timeout": "PT1H"
                },
                "runAfter": {
                    "Parse_operation_ID_from_JSON_response": [
                        "Succeeded"
                    ]
                },
                "type": "Until"
            },
            "Finish": {
                "inputs": {
                    "method": "POST",
                    "uri": "https://REPLACEME.azurewebsites.net/api/Finish"
                },
                "runAfter": {
                    "Do_Action_A": [
                        "Succeeded"
                    ],
                    "Repeat_until_Action_B_completes": [
                        "Succeeded"
                    ]
                },
                "type": "Http"
            },
            "Parse_operation_ID_from_JSON_response": {
                "inputs": {
                    "content": "@body('Start_Action_B_(long-running)')",
                    "schema": {
                        "properties": {
                            "operationId": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {
                    "Start_Action_B_(long-running)": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson"
            },
            "Prepare": {
                "inputs": {
                    "method": "POST",
                    "uri": "https://REPLACEME.azurewebsites.net/api/Prepare"
                },
                "runAfter": {},
                "type": "Http"
            },
            "Start_Action_B_(long-running)": {
                "inputs": {
                    "method": "POST",
                    "uri": "https://REPLACEME.azurewebsites.net/api/StartActionB"
                },
                "runAfter": {
                    "Prepare": [
                        "Succeeded"
                    ]
                },
                "type": "Http"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {},
        "triggers": {
            "Run_on_a_schedule": {
                "recurrence": {
                    "frequency": "Hour",
                    "interval": 12
                },
                "type": "Recurrence"
            }
        }
    },
    "parameters": {}
}